body{
    background-color:#295588;
}
a{
    padding: 20px;
    border-radius: 30px;
}
main{
    justify-items: center;
}
.carousel-item{
    align-items: center;
}
.carousel-inner{

    height: 450px;
    top:30px;
}
#alt{
    height:200px;
    width:200px;
}
.card{
    margin:50px;
    height: 350px;
    width: 350px;
    padding: 10px;
}
#tenis{
    height:350px;
    width:300px;
}