<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra West</title>
</head>
<body>
    <img src="/PUBLIC/imagens/tenis3.png" width ="350" height="325" class="img-thumbnail">
</body>
</html>